/* General rules */    /* */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v32/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoq92nA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html{
    font-size: 16px;
    background-color: lightgoldenrodyellow;
    font-family: "Lora";
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

/*HEADER */

header {
    margin: 2% 3%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Resources/Elprecioso.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    opacity: 0.9;
    border-radius: 10rem;
}

header h1 {
    line-height: 10rem;
    font-size: 3rem;
    font-weight: bold;
}

header img {
    justify-content: flex-end;
    height: 30%;
}

header nav ul {
    width: 50rem;
    color: black;
}

.nav-bar{
    margin-top: 1.5%;
    display: inline-flex;
    justify-content: space-around;
    text-decoration: underline;
    font-size: 1.5rem;
}

.nav-bar li a {
    color: black;
}

.nav-bar li a:hover{
    cursor: pointer;
    color: blue;
}

.nav-bar li a:visited {
    color: darkolivegreen;
}

/* Mission */

#mission{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Resources/Zaragoza\ cathedral.jpg);
    background-position: 2% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

#mission h2{
    line-height: 12rem;
}
#mission p{
    font-size: 1.5rem;
    color: white;
}


/* Portfolio */

#portfolio{
    margin-top: 2.5%;
    height: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    line-height: 4rem;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 85%;
    max-width: 100%;
    margin-top: 2%;
}

.photos {
    height: 30%;
    max-width: 40%;
}

.photos-pic {
    border: 5px solid rgb(15, 5, 82);
    height: 100%;
    max-width: 100%;
}


/*Future Projects */

#future {
    padding-top: 2%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(Resources/Camera\ background.jpeg);
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: cover;
    max-width: 100%;
    opacity: 0.8;
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
}

#future h3{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
}

.plans {
    margin-top: 5%;
    display: inline-flex;
    max-width: 80%;
    justify-content: space-around;
    color: white;
}

.education, .next-stop, .scope{
    padding: 1.5%;
    max-width: 22%;
    background-color: gray;
    opacity: 0.8;
}

/*Team Section */

#team {
    padding-top: 2%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

.equipo {
    margin-top: 3%;
    display: inline-flex;
    justify-content: space-around;
    height: 85%;
    max-width: 200rem;
    line-height: 1.5rem;
}

.teammember {
    height: 70%;
    max-width: 100%;
    padding: 2%;
}

.teammember h3 {
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.teammember a{
    color: white;
}

.teammember a:hover {
    cursor: grab;
}

.equipopic {
    border: 5px solid darkcyan;
    height: 100%;
    max-width: 100%;
}

/* Footer */

footer {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

footer h3 {
    font-size: 1.75rem;
}

footer p {
    font-size: 1.5rem;
}

footer a {
    color: black;
}

footer a:hover {
    color: blue;
    cursor: grab;
}

footer a:visited {
    color: darkolivegreen;
}

.footer2 {
    padding: 0 0 1% 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    align-items: start;
}